DJANGO_SECRET_KEY=replace-me-with-a-long-random-value
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=cms.lighthouse-labs.be,lighthouse-labs.be,www.lighthouse-labs.be,187.124.47.182
DJANGO_CSRF_TRUSTED_ORIGINS=https://cms.lighthouse-labs.be,https://lighthouse-labs.be,https://www.lighthouse-labs.be
WAGTAILADMIN_BASE_URL=https://cms.lighthouse-labs.be

DJANGO_SECURE_SSL_REDIRECT=true
DJANGO_SESSION_COOKIE_SECURE=true
DJANGO_CSRF_COOKIE_SECURE=true
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=true
DJANGO_SECURE_HSTS_PRELOAD=false

DB_ENGINE=django.db.backends.postgresql
DB_NAME=lighthouse_labs
DB_USER=lighthouse_labs
DB_PASSWORD=replace-me
DB_HOST=127.0.0.1
DB_PORT=5432

AWS_ACCESS_KEY_ID=replace-me
AWS_SECRET_ACCESS_KEY=replace-me
AWS_STORAGE_BUCKET_NAME=lighthouse-labs-media
AWS_S3_ENDPOINT_URL=https://<accountid>.r2.cloudflarestorage.com
AWS_S3_REGION_NAME=auto
AWS_S3_CUSTOM_DOMAIN=assets.lighthouse-labs.be
